.container {
    display: flex;
    width: var(--page-width);
    //overflow: hidden; /* Prevent content from overflowing */
    margin: 0 auto;
    flex-direction: column;
    gap: var(--atomX3);
}

